{% extends 'base.html.twig' %}

{% block title %}New Administration{% endblock %}

{% block body %}
{#    <h1>Create new Administration</h1>#}

{#    {{ include('administration/_form.html.twig') }}#}

{#    <a href="{{ path('administration_index') }}">back to list</a>#}

{% endblock %}
